.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #282c34;
}
  
.logo {
    display: flex;
    align-items: center;
}

.h1 {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;

}

.sun {
    color: orangered;
    font-size: 1.5rem;
}